(
  axes: {
        Vertical: Emulated(pos: Key(Up), neg: Key(Down)),
        Horizontal: Emulated(pos: Key(Right), neg: Key(Left)),
    },
    actions: {
        Shoot: [[Key(Z)]],
        Focus: [[Key(LShift)]],
    },
)
