(
    texture_width: 1703,
    texture_height: 313,

    sprites: [
    // Origin is top-left corner
        (
            x: 14,
            y: 10,
            width: 28,
            height: 42,
        ),
    ],
)
