(
    texture_width: 108,
    texture_height: 132,

    sprites: [
    // Origin is top-left corner
        (
            x: 0,
            y: 0,
            width: 108,
            height: 132,
        ),
    ],
)
