#![enable(implicit_some)]
Prefab(
    entities: [
        (
            data: (
                camera: Orthographic(
                    left: -960.0,
                    right: 960.0,
                    bottom: -720.0,
                    top: 720.0,
                    znear: 0.1,
                    zfar: 2000.0,
                ),
                transform: (
                    translation: (960.0, 720.0, 1.0),
                )
            ),
        ),
    ],
)
